.chatbox {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 400px;
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.messages div {
    margin-bottom: 12px;
    padding: 12px 16px;
    border-radius: 20px;
    max-width: 75%;
    line-height: 1.5;
    font-size: 15px;
    transition: background-color 0.3s;
}

.sent {
    align-self: flex-end;
    background-color: #e1f5fe;
    color: #333;
}

.received {
    align-self: flex-start;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    color: #333;
}

.input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

input {
    flex: 1;
    padding: 12px 20px;
    border: 2px solid #e0e0e0;
    border-radius: 25px;
    font-size: 15px;
    margin-right: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.send-button {
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}



.notification-text {
    size: 10;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
}

.logout-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #ff1a1a;
}
